/* https://coolors.co/000000-14213d-fdb849-e5e5e5-ffffff */

body {
    margin: 0;
    background-color: #E5E5E5;
    font-family: 'Roboto Mono', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App {
    text-align: center;

}

